@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
table {
  border: 1px solid lightgray;
  width: 100%;
  table-layout: fixed;
}

tbody {
  border-bottom: 1px solid lightgray;
  width: 100%;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;

}
.header-td{
  padding: 20px;
  margin: 1px;
  background-color: blueviolet;
}
tr{
width: 100%;
}
td{
  width:100%;
  margin: 1px;
  border: 1px solid lightgray;
  text-align: center;
  padding: 5px ;

}
tfoot {
  color: gray;

}

tfoot th {
  font-weight: normal;
} */


#home-svg-wrapper,#home-svg-body {
 animation: draw 5s ease-in-out;
 /* animation-iteration-count: infinite; */
 animation-direction: alternate;
 stroke-width: 3;
}

@keyframes draw{
    from{
    stroke-dasharray:1400 ;
    stroke-dashoffset: 1400;

    }
    to{
        stroke-dashoffset: 0;
        stroke:#f1b1f5
    }
}


/* * {
  scrollbar-width: thin;
  scrollbar-color: rgb(112, 63, 158) rgb(177, 145, 228);
}


*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: rgb(134, 126, 110);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(82, 28, 170);
  border-radius: 20px;
} */

.flex-center{
  @apply flex justify-center items-center
}

.flex-center-col{
  @apply flex flex-col justify-center items-center
}

.scroll-bar{
  @apply scrollbar-thin scrollbar-thumb-purple-900 scrollbar-track-gray-400
}

.center-flex{
  @apply justify-center items-center
}

.flex-center{
@apply flex justify-center items-center
}
.flex-evenly{
  @apply flex items-center justify-evenly
}


.shop-card-container{
  @apply  p-4 m-1 flex-col bg-slate-500 hover:shadow-slate-600 hover:shadow-lg rounded w-[90%] md:w-[30%]
}


.label-style {
  @apply w-full font-bold text-sm flex items-center justify-start;
}



.shop-form-error{
  @apply text-sm text-black 
  
  }


  .consent-button{
    @apply bg-slate-500 p-5 w-[30%] rounded-md hover:bg-yellow-700 text-2xl font-bold
  }

  .consent-container{
    @apply w-full flex-center h-full p-2 fixed top-[0%] bottom-[0%] right-[0%] left-[0%] bg-slate-900 bg-opacity-40 text-white
  }

  .consent-child{
   @apply bg-slate-600 shadow-lg shadow-slate-800 p-2 h-[30%] sm:h-[30%] w-[90%] sm:w-[40%] rounded-lg
  }



